<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".sp"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".h"),  root_path %></li>
        <li><%= link_to t(".he"), help_path %></li>
        <li><%= link_to t(".lg"), new_path %></li>
      </ul>
    </nav>
   </div>
 </header>